.button {
  border: 2px solid;
  border-radius: 7px;
  padding: 6px 12px;
  font: $button;
  &:hover {
    box-shadow: 4px 2px #888888;
  }
}
.pinkprimary {
  background-color: $color-pink;
  color: white;
  border: 2px solid $color-pink;
  width: 100%;
}

.pinksecondary {
  background-color: white;
  color: $color-pink;
  width: 100%;
}

.button.buttonblue {
  background-color: $color-blue;
  color: white;
  border: 2px solid $color-blue;
  width: 100%;
}
.button.yellow {
  background-color: $color-yellow;
  color: black;
  border: 2px solid $color-yellow;
  width: 100%;
}
