.calcuCard {
    border: solid 2px white;
    display: flex;
    flex-direction: column;
    padding-block: 30px;
    padding-inline: 10px;
    gap: 8px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.calcuCard--title {
    font: $headline4;
    color: white;
}

.calcuCard--formSubtitle {
    font: $body1;
    color: white;
}

.caluCard--form {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 8px;
}