// Colors
$color-blue: #3504c0;
$color-bluesecondary: #3504c0;
$color-bluelight: #7b61ff;
$color-pink: #d2004c;
$color-pinksecondary: #ab013e;
$color-pinklight: #fc8fb6;
$color-yellow: #ffd900;
$color-yellowlight: #ffe75e;
$color-yellowblack: #bca000;
$color-black: rgb(26, 26, 26);
$color-blacklight: #363636;

// Fonts
$headline1: 700 4.5rem/5rem Lato;
$headline2: 700 4rem/4.75rem Lato;
$headline3: 700 2rem/2rem Lato;
$headline4: 700 1.5rem/1.649999976158142rem Lato;
$headline5: 700 1.25rem/1.649999976158142rem Lato;
$body1: 400 1.125rem/1.6875rem Montserrat;
$body1b: 700 1.125rem/1.6875rem Montserrat;
$body2: 400 0.875rem/1.5rem Montserrat;
$body2b: 700 0.875rem/1.6875rem Montserrat;
$button: 600 1.125rem/1.6875rem Montserrat;
$caption: 400 0.75rem/1.6875rem Montserrat;
