.header-jspractico {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 10vh;

  .nav-options ul {
    display: flex;
    list-style: none;
    gap: 16px;
    a {
      text-decoration: none;
      font: $headline5;
    }
  }
}

.header-jspractico.pink {
  .nav-options ul {
    a {
      color: $color-pinklight;
      &:hover {
        color: $color-pink;
      }
    }
    .weAreHere a {
      color: $color-pink;
    }
  }
}

.header-jspractico.blue {
  .nav-options ul {
    a {
      color: $color-bluelight;
      &:hover {
        color: $color-bluesecondary;
      }
    }
    .weAreHereBlue {
      color: $color-blue;
    }
  }
}

.header-jspractico.yellow {
  .nav-options ul {
    a {
      color: $color-yellowlight;
      &:hover {
        color: $color-yellowblack;
      }
    }
    .weAreHere {
      color: $color-yellow;
    }
  }
}
